########################################
# Global IDE & OS Files
########################################
/**/.vs/*
/**/.vscode/*

########################################
# Node / React / Vite (Frontend)
########################################
/**/node_modules/*
/**/dist/
/**/build/
/**/.vite/

########################################
# .NET / C# (Backend)
########################################
# Path: /**
/**/[Bb]in/
/**/[Oo]bj/
/**/*.user
/**/*.suo
/**/*.userosscache
/**/*.sln.docstates
/**/*.pdb
/**/*.cache
/**/*.log
/**/TestResult*/
/**/*.TestResults.xml
/**/Properties/PublishProfiles/
/**/appsettings.Development.json
/**/coverage/
